[submodule "vim/pack/git-plugins/ale"]
	path = vim/pack/git-plugins/start/ale
    url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
